*.json
*.tmp
*.pyc
localsettings.py
tw_dataset/big_graph.gpickle
experiments/_5_gnn_models_2026/cornell
experiments/_5_gnn_models_2026/experiments
*.pt
*.pickle
*.db
*.bak
*.gpickle
*.graphml
*.gt
*.sublime*
local_settings.py
accesoserver.txt
*.npz
*.pickle
*.json
*.out
.ipynb_checkpoints
*.lda
*.lda.state